<!doctype html>
<html>
    <head>
        <title>TITS</title>
        
        <link rel="stylesheet" type="text/css" href="certificate.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="head">Certificate of Completion</div>
            </div>
            <div class="row">
                <div class="content">This is to certify that you successfully completed our course on Python and you have got 90 percentile in our quizzes. 
                </div>
            </div>
            <div class="row">
                <div class="signature">
                    <span id="faculty name">#Faculty name</span>
                </div>
            </div>
        </div>
    </body>
</html>