<!DOCTYPE html>
<html lang="en">

<head>
  <title>Course List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">
  <link rel="stylesheet" href="">
  <style>
     body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
    background-color: #394263;
    color: white;
    font-family: 'Open Sans', Helvetica, sans-serif;
    }
    h1{
    font-family: 'Bebas Neue' ;
}
 button {
    position: relative;
  top: -50px;
  left: 650px;
}

  </style>
</head>
<body>
    <div class="container">
        <h1 style="text-align:center">Videos Available</h1>
    </div>
    <hr>
    {% for course  in courses %}
    <div style="background-color: lightsteelblue; color:black" class="container-fluid col-md-10 col-md-offset-1">
            <h3 class="mt-0">{{ course.chapter_name }}</h3>
            <p class="d-none d-sm-block"> {{ course.link_description }} </p>  
            <form action = "{% url 'addcourse' name=course.chapter_name  %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-success btn-lg float-right" 
                    type="submit"> Add Course  
            </button> 
            </form> 
            </div>
            {% endfor %}
    {% comment %} </div>
    <div class="col-md-10 col-md-offset-1">
        <h3 class="mt-0">Animation</h3>
        <p class="d-none d-sm-block"> Description: jdjdjejdwjnednwjed</p>
            <button class="btn btn-success btn-lg float-right" 
                    type="submit"> Add Course  
            </button>     
    </div>
    <div style="background-color: lightsteelblue; color:black" class="container-fluid col-md-10 col-md-offset-1">
        <h3 class="mt-0">Algebra</h3>
        <p class="d-none d-sm-block"> Description: jsdcnsndjksdnvj</p>
        <button class="btn btn-success btn-lg float-right" 
                    type="submit"> Add Course  
            </button>  
    </div>
    <div class="col-md-10 col-md-offset-1">
        <h3 class="mt-0">Biology</h3>
        <p class="d-none d-sm-block"> Description: sdvsdvsdv</p>
        <button class="btn btn-success btn-lg float-right" 
                    type="submit"> Add Course  
            </button>  
    </div>
    <div style="background-color: lightsteelblue; color:black" class="container-fluid col-md-10 col-md-offset-1">
        <h3 class="mt-0">Business</h3>
        <p class="d-none d-sm-block"> Description: sfvfssvsfv</p>
        <button class="btn btn-success btn-lg float-right" 
                    type="submit"> Add Course  
        </button>  
    </div>
    <div class="col-md-10 col-md-offset-1">
        <h3 class="mt-0">Literature</h3>
        <p class="d-none d-sm-block"> Description: sfvsfvsfvsf</p>
        <button class="btn btn-success btn-lg float-right" 
                    type="submit"> Add Course  
        </button>  
    </div>
    <div style="background-color: lightsteelblue; color:black" class="container-fluid col-md-10 col-md-offset-1">
        <h3 class="mt-0">Sociology</h3>
        <p class="d-none d-sm-block"> Description: sfvsfscv sfv </p>
        <button class="btn btn-success btn-lg float-right" 
                    type="submit"> Add Course  
        </button>   
    </div>{% endcomment %}
<footer>

</footer>
  <!--jQuery first, then Popper.js, then Bootstrap JS.--> 
  <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
  <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>