<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>TISS</title>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    </head>
    <body>
        <div class="graph">
            <canvas id="students" width="600" height="400"></canvas>
            <script>                
                var studentData = {
                    labels : ["Quiz1","Quiz2","Quiz3","Quiz4","Quiz5"],
                    datasets : [
                    {
                        fillColor : "rgba(172,194,132,0.4)",
                        strokeColor : "#ACC26D",
                        pointColor : "#fff",
                        pointStrokeColor : "#9DB86D",
                        data : [35,24,49,32,35]
                    }
                ]
                }            
                var students = document.getElementById('students').getContext('2d');                
                new Chart(students).Line(studentData);                
            </script>
        </div>
    </body>
</html>