<!doctype html>
<html>
    <head>
        <title>TITS</title>
        
        <link rel="stylesheet" type="text/css" href="index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 heading">
                    <span>Tata Institute of Social Sciences</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col">
                    <a href="StudentRegistration.html">Register as Student</a>
                </div>
                <div class="col-md-6 col">
                    <a href="TeacherRegistration.html">Register as Faculty</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col">
                    <a href="student_login.html">Login as Student</a>
                </div>
                <div class="col-md-6 col">
                    <a href="teacher_login.html">Login as Faculty</a>
                </div>
            </div>
        </div>
    </body>
</html>