<!DOCTYPE html>
<html lang="en">

<head>
  <title>Leaderboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">
  <link rel="stylesheet" href="">
  <style>
     body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
    background-color: #394263;
    color: white;
    font-family: 'Open Sans', Helvetica, sans-serif;
}
    h1{
    font-family: 'Bebas Neue' ;
}


  </style>
</head>
<body>
<div id="div" style="border:solid" class="container outer-box-frame">
    <div class="container">
        <h1 style="text-align:center">Leaderboard</h1>
    </div>
    <hr>
    <div style="background-color: lightsteelblue; color:black" class="container-fluid col-md-10 col-md-offset-1">
        <div id="textbox">
            <h2 class="mt-0 align-left">Rank: 1 | Student Name 1</h2>
            <h3 style="text-align:right">Average Quiz Score: 99</h3>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1">
        <div id="textbox">
            <h2 class="mt-0 align-left">Rank: 2 | Student Name 2</h2>
            <h3 style="text-align:right">Average Quiz Score: 98</h3>
        </div>
    </div>
    <div style="background-color: lightsteelblue; color:black" class="container-fluid col-md-10 col-md-offset-1">
        <div id="textbox">
            <h2 class="mt-0 align-left">Rank: 3 | Student Name 3</h2>
            <h3 style="text-align:right">Average Quiz Score: 97</h3>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1">
        <div id="textbox">
            <h2 class="mt-0 align-left">Rank: 4 | Student Name 4</h2>
            <h3 style="text-align:right">Average Quiz Score: 95</h3>
        </div>
    </div>
    <div style="background-color: lightsteelblue; color:black" class="container-fluid col-md-10 col-md-offset-1">
        <div id="textbox">
            <h2 class="mt-0 align-left">Rank: 5 | Student Name 5</h2>
            <h3 style="text-align:right">Average Quiz Score: 93</h3>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1">
        <div id="textbox">
            <h2 class="mt-0 align-left">Rank: 6 | Student Name 6</h2>
            <h3 style="text-align:right">Average Quiz Score: 91</h3>
        </div>
    </div>
    <div style="background-color: lightsteelblue; color:black" class="container-fluid col-md-10 col-md-offset-1">
        <div id="textbox">
            <h2 class="mt-0 align-left">Rank: 7 | Student Name 7</h2>
            <h3 style="text-align:right">Average Quiz Score: 90</h3>
        </div>
    </div>
</div>
<footer>

</footer>
  <!--jQuery first, then Popper.js, then Bootstrap JS.--> 
  <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
  <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>