<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">
  <link rel="stylesheet" href="">	
  <style>
      .container{
        padding-left: 200px;
        padding-top: 20px;
      }
      body{
          background-color: lightsteelblue;
      }
  </style>
</head>
    <body>
        <h1 style="text-align:center">HTML Quiz</h1>
        <div class="container">
	    <br/>
	    Q1.Which is not attribute ?<br/>
	    <input type="radio" name="q1" />name<br/>
	    <input type="radio" name="q1" />value<br/>
	    <input type="radio" name="q1" />a<br/>
	    <input type="radio" name="q1" />href<br/>
		<br/>
	    Q2.Onclick is an event attribute of HTML.<br/>
	    <input type="radio" name="q2" />true<br/>
	    <input type="radio" name="q2" />false<br/>
	    <br/>
	    Q3.What is the default charecter encoding in HTML5 ?<br/>
	    <input type="radio" name="q3" />ASCII<br/>
	    <input type="radio" name="q3" />UTF-8<br/>
	    <input type="radio" name="q3" />UTF-16<br/>
	    <input type="radio" name="q3" />EBCDIC<br/>
        <br/>
        <button class="btn btn-success btn-lg float-right" 
                    type="submit"> Submit Quiz  
            </button>
        </div>
    </body>
</html>