<!doctype html>
<html>
    <head>
        <title>Resume</title>
        
        <link rel="stylesheet" type="text/css" href="resume.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="contain">
            <div class="row">
                <div class="col-md-12 col-flex">
                    <span id="name">Shivansh Pandey</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-flex">
                    <span id="contact">Sagar, MP | shivanshpandey409@gmail.com | +91 8827867745</span>
                </div>
            </div>
            
            <div class="hr"></div>

            <div class="row margin">
                <div class="col-md-12">
                    <span class="head1 head">Objective</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <span class="desc1 desc">Blah BLahfd sldkfjoel fsdlkfj lsdkfjio fdiiiiiiiii kddddddfl dkkkkkkk</span>
                </div>
            </div>

            <div class="row margin">
                <div class="col-md-12">
                    <span class="head2 head">Education</span>
                    <ul class="desc2 desc">
                        <li>B.Tech. MANIT</li>
                        <ul class="desc-desc">
                            <li>2018-2022</li>
                            <li>Other info</li>
                        </ul>
                        <li>12th CBSE</li>
                        <ul class="desc-desc">
                            <li>2018</li>
                            <li>Other info</li>
                        </ul>
                        <li>10th CBSE</li>
                        <ul class="desc-desc">
                            <li>2016</li>
                            <li>Other info</li>
                        </ul>
                    </ul>
                </div>
            </div>

            <div class="row margin">
                <div class="col-md-12">
                    <span class="head3 head">Skills</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="desc3">
                        <li>C++</li>
                        <li>Java</li>
                        <li>PHP</li>
                        <li>HTML</li>
                        <li>Bootstrap</li>
                    </ul>
                </div>
            </div>

            <div class="row margin">
                <div class="col-md-12">
                    <span class="head4 head">Miscellaneous</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="desc4">
                        <li>First</li>
                        <li>Second</li>
                        <li>Third</li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </body>
</html>