<!DOCTYPE html>
<html lang="en">

<head>
  <title>Teacher Registration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
    <form action="/action_page.php">
        <div class="container">
          <h1>Faculty Registration</h1>
          <p>Please fill in this form to create an account.</p>
          <hr>
      
          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" id="username" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
      
          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>


          <label for="courses">Choose Course Taught:</label>
             <select name="courses" id="courses">
             <option value="Option 1">Option 1 </option>
             <option value="Option 2">Option 2 </option>
             <option value="Option 3">Option 3 </option>
             <option value="Option 4">Option 4 </option>
          </select>

          <hr>      
          <button type="submit" class="registerbtn">Register</button>
        </div>
        
      </form>

<footer>

</footer>
  <!--jQuery first, then Popper.js, then Bootstrap JS.--> 
  <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
  <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>